@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color:hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 5rem;
}
.main{
    background-color: hsl(0, 0%, 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: auto;
    border-radius: 1rem;
    padding: 2rem;
}
img{
    width: 40rem;
    height: auto;
    border-radius: 1rem;
}
h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(24, 5%, 18%);
}
h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(14, 45%, 36%)
    
}
h3{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-indent: 2rem;
    color: hsl(332, 51%, 32%);
}
p{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}
ul{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;

}
.prep{
    background-color: hsl(330, 100%, 98%);
    border-radius: 1rem;
}
.prep ul{
    margin-left: 2rem;
}
.prep ul li::marker {
    color: hsl(332, 51%, 32%);
    
}
hr{
    color: hsla(31, 53%, 90%, 0.600);
}
.attribution{
    height: 10rem;
    display: flex;
    align-items: center;
    width: auto;
    color: #1f314f;
    font-size: 11px;
 }
.attribution a {
    color: hsl(228, 45%, 44%);
}